.bcToaster {
  position: fixed;
  z-index: 10000;
  color: #fff;
}

/* And now the default styling */
.bcToasterContent {
  background: #666;
  float: left;
  padding: 20px;
}

.bcToaster .bcClose {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.bcToaster.bcShowClose .bcClose {
  display: block;
  width: 18px;
  height: 18px;
}
.bcToaster.bcShowClose.bcDefaultClose .bcClose {
  border-radius: 50%;
  background-image: url("images/CloseIconToaster.png");
  background-size: 36px 18px;
  background-repeat: 0;
}

.bcToaster.bcShowClose.bcDefaultClose .bcClose:hover {
  background-position: -18px 0;
}

.bcToaster .bcToasterCloseButton {
  height: 30px;
  color: #000;
  border: solid 1px #999999;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.bcToaster.bcLeft .bcToasterContent {
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 0;
}
.bcToaster.bcBottom .bcToasterContent {
  border-radius: 4px 4px 0 0;
  border-width: 1px 1px 0 1px;
}
.bcToaster.bcRight .bcToasterContent {
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
}
.bcToaster.bcTop .bcToasterContent {
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px 1px;
}
